<h1>Number of your order: <%= @user.orders.last %></h1>

<p>Your visit is: <%= @user.orders.last.date %></p>
<p>You can check your orders <%= link_to "here", my_orders_url %></p>
<p>Please evaluate us in very short <%= link_to "survey", "http://localhost:3000/surveys/1/answers" %></p>
<p>Thank You for your patronance.</p>
