

	
		<div class="box_about">
			
				<hr>
					<h2 class="intro-text text-center">Our
						<strong>Team</strong>
					</h2>
				<hr>
			

			<div class="col-md-6 text-center">
				<%= image_tag("tchorzewski.jpg") %>
					<h3>Tchórzewski Rafał</h3>
					<small>Junior RoR Developer</small>
			</div>
		
			<div class="col-md-6 text-center">
				<%= image_tag("bracha.jpg") %>
					<h3>Bracha Piotr</h3>
					<small>Junior RoR Developer</small>
			</div>
		
			<div class="clearfix"></div>
	
		</div>
	